* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding-bottom: 5rem; */
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    padding-top: 50px;
    background-color: white;
}

.header {
    top: 0;
    height: 50px;
    background-color: #8d99ae;
    color: #2b2d42;
    text-align: center;
    position: fixed;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header a {
    text-decoration: none;
    padding-right: 50px;
    font-weight: bold;
    color: #2b2d42;
    font-size: 20px;
    transition: 0.3s ease;
}

.header a:hover,
.header a.active {
    color: #edf2f4;
}


/* .header a.active::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: skyblue;
    position: absolute;
    bottom: -4px;
} */

.header .logo {
    padding-right: 200px;
    font-size: 32px;
    margin-right: 200px;
}

.header .icons p {
    text-decoration: none;
    font-weight: bold;
    color: #2b2d42;
    font-size: 20px;
    transition: 0.3s ease;
}

.header .icons p:hover {
    color: #edf2f4;
}

.header .account-box {
    position: absolute;
    top: 120%;
    right: 2rem;
    width: 200px;
    box-shadow: #088178;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    border: #088178;
    background-color: #edf2f4;
    display: none;
    animation: fadeIn .2s linear;
}

.header .account-box.active {
    display: inline-block;
}

.header .account-box p {
    font-size: 2rem;
    color: blue;
    margin-bottom: 1.5rem;
}

.header .account-box .delete-btn {
    margin-top: 0;
    color: blue;
}

.header .account-box div {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.header .account-box div a {
    color: blue;
}

.header .account-box div a:hover {
    text-decoration: none;
}


/*feature*/

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    margin-left: 20px;
    margin-right: 20px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
    display: inline-blockf;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #fff2e5;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}


/*footer*/

.footer-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #8d99ae;
    color: #2b2d42;
    position: fixed;
    bottom: 0;
}

.footer-content {
    width: 33.3%;
}

footer h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.footer-container .list {
    padding: 0;
}

.footer-container .list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

section.left .socialMedia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 22px 0px 20px;
}

.socialMedia a {
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    transition: 0.4s;
}

.socialMedia a i {
    color: #2b2d42;
    font-size: 18px;
    line-height: 35px;
    border: 1px solid transparent;
    transition-delay: 0.4s;
}

.footer-container a {
    text-decoration: none;
    color: #2b2d42;
}

.footer-container a:hover {
    color: #edf2f4;
}

.social-icons i:hover {
    color: #edf2f4;
}

.bottom-bar {
    background: #2b2d42;
    text-align: center;
    padding: 10px 0;
}

.bottom-bar p {
    color: #8d99ae;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.h1 {
    text-align: center;
    font-size: 30px;
}

.checkout-form form {
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
    border: 1px solid black;
}

.checkout-form form label {
    text-align: center;
}

.checkout-form form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.checkout-form form .flex .inputBox {
    flex: 1 1 40rem;
}

.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select {
    width: 95%;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    text-transform: none;
}

.btn,
.option-btn,
.delete-btn {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    padding: 1.2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
}