* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    padding-top: 50px;
    background-color: white;
}

.header {
    top: 0;
    height: 50px;
    background-color: #8d99ae;
    color: #2b2d42;
    text-align: center;
    position: fixed;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header a {
    text-decoration: none;
    padding-right: 50px;
    font-weight: bold;
    color: #2b2d42;
    font-size: 20px;
    transition: 0.3s ease;
}

.header a:hover,
.header a.active {
    color: #edf2f4;
}


/* .header a.active::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: skyblue;
    position: absolute;
    bottom: -4px;
} */

.header .logo {
    padding-right: 200px;
    font-size: 32px;
    margin-right: 200px;
}

.header .icons p {
    text-decoration: none;
    font-weight: bold;
    color: #2b2d42;
    font-size: 20px;
    transition: 0.3s ease;
}

.header .icons p:hover {
    color: #edf2f4;
}

.header .account-box {
    position: absolute;
    top: 120%;
    right: 2rem;
    width: 200px;
    box-shadow: #088178;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    border: #088178;
    background-color: #edf2f4;
    display: none;
    animation: fadeIn .2s linear;
}

.header .account-box.active {
    display: inline-block;
}

.header .account-box p {
    font-size: 2rem;
    color: blue;
    margin-bottom: 1.5rem;
}

.header .account-box .delete-btn {
    margin-top: 0;
    color: blue;
}

.header .account-box div {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.header .account-box div a {
    color: blue;
}

.header .account-box div a:hover {
    text-decoration: none;
}


/* input search */

.inputsearch {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
    height: 7px;
}

.search {
    color: #090909;
    text-align: center;
    padding: 0.7em 1.7em;
    height: 35px;
    width: 80px;
    font-size: 13px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
}

.search:hover {
    border: 1px solid white;
}

.search:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.inputsearch:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}


/*product*/

#laptop {
    text-align: center;
}

#laptop .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#laptop h2 {
    font-size: 30px;
}

#laptop p {
    font-weight: 900;
}

#laptop .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#laptop .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#laptop .pro img {
    width: 100%;
    border-radius: 20px;
}

#laptop .pro .des {
    text-align: start;
    padding: 10px 0;
}

#laptop .pro .des span {
    color: #606063;
    font-size: 12px;
}

#laptop .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#laptop .pro .des li {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#laptop .pro .des h4 {
    padding-top: 7px;
    color: #088178;
    font-size: 15px;
    font-weight: 700;
}

#laptop .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: 50px;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


/*footer*/

.footer-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #8d99ae;
    color: #2b2d42;
}

.footer-content {
    width: 33.3%;
}

footer h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.footer-container .list {
    padding: 0;
}

.footer-container .list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

section.left .socialMedia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 22px 0px 20px;
}

.socialMedia a {
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    transition: 0.4s;
}

.socialMedia a i {
    color: #2b2d42;
    font-size: 18px;
    line-height: 35px;
    border: 1px solid transparent;
    transition-delay: 0.4s;
}

.footer-container a {
    text-decoration: none;
    color: #2b2d42;
}

.footer-container a:hover {
    color: #edf2f4;
}

.social-icons i:hover {
    color: #edf2f4;
}

.bottom-bar {
    background: #2b2d42;
    text-align: center;
    padding: 10px 0;
}

.bottom-bar p {
    color: #8d99ae;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}